<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Management System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .search-bar {
      margin-bottom: 15px;
    }

    .search-bar .form-control,
    .search-bar .btn {
      height: calc(1.5em + .75rem + 2px);
    }

    .search-bar .input-group {
      margin-bottom: 0;
    }

    .table {
      margin-bottom: 0;
      font-size: 0.9rem;
    }

    .table thead th {
      background-color: #f2f2f2;
    }

    .table tbody tr:hover {
      background-color: #e9ecef;
    }

    #menu {
      background-color: #2E4053;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 0.5em 0;
    }

    #menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
    }

    #menu ul li {
      display: inline;
      margin-right: 20px;
    }

    #menu ul li a {
      color: #fff;
      text-decoration: none;
      padding: 10px 15px;
      transition: background-color 0.3s ease;
    }

    #menu ul li a:hover,
    #menu ul li a:active {
      background-color: #D5D8DC;
      border-radius: 5px;
    }

    #quanLyXeMenu {
      position: relative;
    }

    .menu-con {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: #2e4053;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      white-space: nowrap;
    }

    #quanLyXeMenu:hover .menu-con {
      display: block;
    }

    .menu-con a {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      color: black;
      text-align: left;
      background: transparent;
      width: 200px;
      border-radius: 0;
    }

    .menu-con a:hover {
      background-color: #ddd;
    }
  </style>
</head>

<body>
  <div id="menu">
    {{> menu}}
  </div>
  <div class="container mt-4"> <!-- Added margin-top here -->
    <!-- Search Bar and Buttons -->
    <div class="search-bar input-group mb-3">
      <input type="text" class="form-control" placeholder="Từ khóa..." aria-label="Từ khóa">
      <div class="input-group-append">
        <select class="custom-select">
          <option selected>-- Lựa chọn --</option>
          <!-- Option values go here -->
        </select>
      </div>
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" onclick="getBuses()">Tìm kiếm</button>
        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#newBus">Thêm</button>
      </div>
    </div>

    <!-- Data Table -->
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Hình Ảnh</th>
            <th>Biển Số</th>
            <th>Loại Xe</th>
            <th>Sức Chứa</th>
            <th>Tài Xế</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody id="buses-container">
          {{#each buses}}
          <tr class="text-center">
            <td class="text-center">
              <a href="/bus/{{_id}}">
                <img class="rounded" src="./images/buses/{{img}}" alt="">
              </a>
            </td>
            <td>
              {{licensePlate}}
            </td>
            <td>
              {{_model}}
            </td>
            <td>
              {{capacity}}
            </td>
            <td>
              <button class="btn btn-primary" onclick="getBus('{{_id}}') " data-bs-toggle="modal"
                data-bs-target="#updateBus">
                Sửa
              </button>
              <button class="btn btn-danger" onclick="deleteBusPre('{{_id}}')" data-bs-toggle="modal"
                data-bs-target="#deleteBus">
                Xóa
              </button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script>
  function getBus(id) {
    fetch(`/bus/getBus/${id}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        if (data.success) {
          $("#updateBusId").val(data.bus._id);
          $("#updateBusLP").val(data.bus.licensePlate);
          $("#updateBusModel").val(data.bus._model);
          $("#updateBusCapa").val(data.bus.capacity);
        } else {

        }
      })
  }
  function getBuses() {
    fetch('/bus/getBuses', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        if (data.success) {
          let tr = '';

          data.buses.forEach(bus => {
            getDriverById(bus.employeeId)
              .then(user => {
                var users = user;
                let hasEmployee = bus.employeeId ? users.name + `\t<button class="btn btn-primary" onclick="openNewDriver('${bus._id}')" data-bs-toggle="modal" data-bs-target="#addDriver">Đổi
                        </button>` : `<button class="btn btn-success" onclick="openNewDriver('${bus._id}')" data-bs-toggle="modal" data-bs-target="#addDriver">Thêm
                        </button>`;
                tr += `
                  <tr class="text-center" >
                      <td class="text-center">
                        <a href="/bus/${bus._id}">
                          <img class="rounded" src="./images/buses/${bus.img}" alt="">
                        </a>
                      </td>
                      <td>${bus.licensePlate}</td>
                      <td>${bus._model}</td>
                      <td>${bus.capacity}</td>
                      <td>${hasEmployee}</td>
                      
                      <td>
                        <button class="btn btn-primary" onclick="getBus('${bus._id}')" data-bs-toggle="modal"
                          data-bs-target="#updateBus">
                          Sửa
                        </button>            
                        <button class="btn btn-danger" onclick="deleteBusPre('${bus._id}')" data-bs-toggle="modal" data-bs-target="#deleteBus">Xóa
                        </button>
                      </td>
                  </tr>
                `;

                $("#buses-container").html(tr);
              })
              .catch(error => {
                // Handle error
                console.error('Error:', error);
              });
          });
        } else {
          console.log(data.message);
        }
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });
  }
  function openNewDriver(id) {
    $("#addDriverDusId").val(id)
  }
  getDrivers()
  function getDrivers() {
    fetch('/user/getUserByRole', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        role: 2
      })
    })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          let driversList = ""
          data.users.forEach(user => {
            console.log(user)
            driversList += `<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="card">
                    <img src="/images/users/${user.avatarPath}" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">${user.name}</h5>
                        <a href="#" class="btn btn-primary" onclick="addNewDriver('${user._id}')">Chọn</a>
                    </div>
                </div>
            </div>`
          });
          $("#drivers-container").html(driversList)

        } else {
          // Handle unsuccessful response
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }
  function addNewDriver(id) {
    fetch(`/bus/updateDriver`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        id: $("#addDriverDusId").val(),
        employeeId: id
      }),
    })
      .then(response => response.json()) // Assuming the server responds with JSON
      .then(data => {
        if (data.success) {
          $("#addDriveClose").click();

          getBuses();
          let alert = `
                    <div id="failAlert" class="alert alert-success alert-dismissible fade show position-absolute top-50 start-50 translate-middle" role="alert" style="z-index: 15000">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <p id="successMsg">${data.message}</p>
                    </div>
                    `
          $("body").append(alert)
          let alertX = $("#failAlert")
          setTimeout(function () {
            alertX.remove();
          }, 1000);
        } else {
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }
  function getDriverById(id) {
    return fetch('/user/getUser', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        id: id
      })
    })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          return data.users[0];
        } else {
          // Handle unsuccessful response
          return null;
        }
      })
      .catch(error => {
        console.error('Error:', error);
        return null;
      });
  }

  getBuses()
  function updateBus() {
    let id = $("#updateBusId").val();
    let licensePlate = $("#updateBusLP").val();
    let model = $("#updateBusModel").val();
    let capa = $("#updateBusCapa").val();
    fetch(`/bus/update/${id}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        licensePlate: licensePlate,
        model: model,
        capacity: capa
      }),
    })
      .then(response => response.json()) // Assuming the server responds with JSON
      .then(data => {
        if (data.success) {
          $("#updateBusClose").click();

          getBuses();
          let alert = `
                    <div id="failAlert" class="alert alert-success alert-dismissible fade show position-absolute top-50 start-50 translate-middle" role="alert" style="z-index: 15000">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <p id="successMsg">${data.message}</p>
                    </div>
                    `
          $("body").append(alert)
          let alertX = $("#failAlert")
          setTimeout(function () {
            alertX.remove();
          }, 1000);
        } else {
          $("#updateBusLicenseErr").text(data.licensePlateErr)
          $("#updateBusModelErr").text(data.modelErr)
          $("#updateBusCapaErr").text(data.capacityErr)
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }
  function addBus() {
    fetch('/bus/add', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        licensePlate: $("#addBusLP").val(),
        model: $("#addBusModel").val(),
        capacity: $("#addBusCapa").val()
      })
    }).then(response => response.json())
      .then(data => {
        if (data.success) {
          $("#addBusClose").click();
          let alert = `
                    <div id="failAlert" class="alert alert-success alert-dismissible fade show position-absolute top-50 start-50 translate-middle" role="alert" style="z-index: 15000">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <p id="successMsg">${data.message}</p>
                    </div>
                    `
          $("body").append(alert)
          let alertX = $("#failAlert")
          setTimeout(function () {
            alertX.remove();
          }, 1000);
          getBuses();

        } else {
          $("#addBusLicenseErr").text(data.licensePlateErr)
          $("#addBusModelErr").text(data.modelErr)
          $("#addBusCapaErr").text(data.capacityErr)
        }
      }).catch(error => {
        console.error('Error:', error);
      });
  }
  function deleteBusPre(id) {
    $("#deleteBusId").val(id)
  }
  function deleteBus() {
    let id = $("#deleteBusId").val()
    fetch(`/bus/delete/${id}`, {
      method: 'DELETE',
    })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          $("#deleteBusClose").click();
          let alert = `
                    <div id="failAlert" class="alert alert-success alert-dismissible fade show position-absolute top-50 start-50 translate-middle" role="alert" style="z-index: 15000">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <p id="successMsg">${data.message}</p>
                    </div>
                    `
          $("body").append(alert)
          let alertX = $("#failAlert")
          setTimeout(function () {
            alertX.remove();
          }, 1000);
          getBuses();
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }

</script>

</html>