<div id="menu">
    {{> menu}}
</div>

<div class="row mt-1">
    <div class="col-xl-5 m-lg-1 bg-white rounded shadow p-3 bg-body m-1">
        <div class="row">
            {{#each bus}}
                <h3 class="text-center">
                    Thông Tin Xe
                </h3>
                <hr>
            <div class="col-md-4 col-sm-12">
                <img src="/images/buses/{{img}}" width="100%" height="100%">
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Biển số</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{licensePlate}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Loại xe</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{_model}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Sức chứa</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{capacity}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
    <div class="col bg-white m-lg-1 rounded shadow p-3  bg-body">
        <div class="row">
            <h3 class="text-center">
                Thông Tin Tài Xế
            </h3>
            <hr>
            <div class="col-md-4 col-sm-12" id="driverImg">
                <img src="/images/users/avatar.png" width="100%" height="100%">
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" id="driverName">

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" id="driverEmail">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mobile</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" id="driverPhone">

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" id="driverAddress">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 bg-white rounded mr-2 p-3">
        <h3 class="text-center">
                Bảng Lịch Trình
            </h3>
         <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Tên tuyến đường</th>
            <th>Bảng số xe</th>
            <th>Tên nhân viên</th>
            <th>Ngày khởi hành</th>
            <th>Trạng Thái</th>
            
          </tr>
        </thead>
        <tbody id="scheduleContainer">
        
        </tbody>
      </table>
    </div>
    </div>
</div>
<script>
    {{#each bus}}
    {{#if employeeId}}
    getDriverById('{{employeeId}}')
    {{/if}}
    {{/each}}
    function getDriverById(id) {
        return fetch('/user/getUser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                id: id
            })
        })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                let user = data.users[0]
                
                let img = ` <img src="/images/users/${user.avatarPath}" width="100%" height="100%"> `

                let name = user.name
                let email = user.email
                let phone = user.phone ? user.phone : "Chưa cập nhật"
                let address = user.address ? user.address : "Chưa cập nhật"
                $("#driverImg").html(img)
                $("#driverName").html(name)
                $("#driverEmail").html(email)
                $("#driverAddress").html(address)
                $("#driverPhone").html(phone)

            })
            .catch(error => {
                console.error('Error:', error);
                return null;
            });
    }
    getSchedules()
      

    function getRouteById(id){
        return fetch(`/routes/get/${id}`, {
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        }).then(data => {
            if(data.success){
              return data.route
            }else{
              console.log("Loi roi day");
            }
        })
        .catch(error => {
              console.error('Error:', error);
              return null;
            });
    }

    function getEmployee(id){
        return fetch('/user/getUser', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              id: id
            })
          })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                return (data.users);
              } else {
                // Handle unsuccessful response
                return null;
              }
            })
            .catch(error => {
              console.error('Error:', error);
              return null;
            });
    }

    function getBusById(id) {
      return fetch(`/bus/getBus/${id}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then(data => {
          if (data.success) {
            return data.bus;
          } else {
            console.log("Loi o dau roi do");
          }
        })
    }

    function getSchedules(){
      fetch('/schedules/getData',{
        method: "GET",
        headers:{
          'Content-Type': 'application/json',
        }
      }).then(response => response.json())
      .then(data => {
        if(data.success){
          data.schedules.forEach((s, i) => {
            var status = "";
            if(s.status === 1){
              status = "Đã khởi hành";
            }else if(s.status === 0){
              status = "Chưa khởi hành";
            }else{
              status = "Đã hủy lịch";
            }
        
            var id = "s-" + i;
            var string = `
              <tr id="${id}" style="cursor:pointer" onclick=''>
                <td class="route"></td>
                <td class="lisence"></td>
                <td class="name"></td>
                <td class="day"></td>
                <td>${status}</td>
              </tr>
            `;
            
            $("#scheduleContainer").append(string);
            getEmployee(s.employeeId).then(u => {
              var string = "#s-" + i + " .name";
              $(string).html(u[0].name);
            })
            getBusById(s.busId).then((bus) => {
              var string = "#s-" + i + " .lisence";
              $(string).html(bus.licensePlate);
            })
            getRouteById(s.routeId).then(r => {
              var string1 = "#s-" + i + " .route";
              var string2 = "#s-" + i + " .day";
              $(string1).html(r.routeName);
              $(string2).html(r.departureDayTime);
              dateTime(string2);
            })
          })
        }else{
          console.log("Loi o dau do roi")
        }
      })
      .catch(error => {
              console.error('Error:', error);
              return null;
            });
    }


  function dateTime(id){
    var d = document.querySelector(id);
    console.log((d.innerHTML))
    var date = d.innerHTML.slice(0,10).split("-");
    console.log(date);
    var time = d.innerHTML.slice(11, 19)
    console.log(time);
    var dateafterchange = date[2] + "/" + date[1] + "/" +date[0];
    d.innerHTML = dateafterchange + " - " + time;
  }

</script>