<!-- CSS  -->
<link rel="stylesheet" href="/stylesheets/user-profile.css">
<link rel="stylesheet" href="/stylesheets/content-table.css">
<script src="/javascript/user-profile.js"></script>
<div class="main-body">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb bg-white">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->
    <div class="container-fluided">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <div class="image-container">
                                <img src="/images/users/{{user.avatarPath}}" alt="Admin" class="rounded-circle"
                                    width="150" height="150" id="userAvatar">
                                <button class="change-image-button rounded-circle"
                                    onclick='$("#fileInput").click()'>Change
                                    Image</button>
                            </div>
                            <form id="uploadForm" enctype="multipart/form-data" hidden>
                                <input type="file" name="file" id="fileInput" onchange='$("#uploadForm").submit()' />
                            </form>
                            <div class="mt-3">
                                <h4>{{user.name}}</h4>
                                <p id="userId" style="display: none;">{{user._id}}</p>
                                <p class="text-secondary mb-3">
                                    {{#if_eq user.role 0}}Admin{{/if_eq}}
                                    {{#if_eq user.role 1}}Nhân viên vận hành{{/if_eq}}
                                    {{#if_eq user.role 2}}Tài Xế{{/if_eq}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mobile</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{#if user.phone}}{{user.phone}} {{else}}Chưa cập nhật{{/if}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{#if user.address}}{{user.address}}{{else}}Chưa cập nhật{{/if}}

                            </div>
                        </div>
                        {{#if isMy}}
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <a class="btn btn-info" data-bs-toggle="modal" data-bs-target="#updateEmployee"
                                    onclick="getInfo()">Edit</a>
                            </div>
                            <div class="col-sm-6">
                                <a class="btn btn-info " href="/users/change-password">Change Password</a>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Update employee dialog -->
<div class="modal fade" id="updateEmployee" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Update Employee</h4>
                <button type="button" id="updateEmployeeClose" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <main class="form-signin w-100 m-auto">
                        <form style="max-width: 500px;" class="m-auto" id="updateEmployeeForm">
                            <div class="form-floating mb-3">
                                <input id="updateFormName" type="text" class="form-control" name="name"
                                    value="{{user.name}}">
                                <label for="floatingInput">Name</label>
                                <div class="invalid-feedback mt-3" id="updateEmployeeNameErr">
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                    name="gender" id="updateFormGender">
                                    <option selected>Chose your gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                                <div class="invalid-feedback mt-3" id="updateEmployeeGenderErr">

                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input id="updateFormAddress" type="text" class="form-control" name="address"
                                    value="{{user.address}}">
                                <label for="floatingInput">Address</label>
                                <div class="invalid-feedback mt-3" id="updateEmployeeAddressErr">

                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input id="updateFormBirth" type="date" class="form-control" name="birth"
                                    value="{{user.birth}}">
                                <label for="floatingInput">Birth</label>
                                <div class="invalid-feedback mt-3" id="updateEmployeeBirthErr">

                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input id="updateFormPhone" type="text" class="form-control" name="phone"
                                    value="{{user.phone}}">
                                <label for="floatingInput">Phone</label>
                                <div class="invalid-feedback mt-3" id="updateEmployeePhoneErr">

                                </div>
                            </div>
                        </form>
                    </main>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="updateEmployee(event)">Update</button>
            </div>
        </div>
    </div>
</div>
<script>
    function formatDate(birth) {
        var date = new Date(birth);
        var day = date.getDate();
        var month = date.getMonth() + 1; // Tháng bắt đầu từ 0 nên cần cộng thêm 1
        var year = date.getFullYear();
        var second = date.getSeconds()
        var minute = date.getMinutes();
        var hour = date.getHours()
        if (month < 10) {
            month = "0" + month
        }
        // Định dạng lại thành dd/mm/yyyy
        var formattedDate = year + "-" + month + "-" + day;
        return formattedDate
    }
    function getInfo() {
        $("#updateFormBirth").val(formatDate('{{user.birth}}'))
        $("#updateFormGender").val('{{user.gender}}')
    }
    function updateEmployee(event) {
        const resultContainer = document.getElementById('resultContainer');
        // Send a POST request using AJAX
        let name = $("#updateFormName").val()
        let gender = $("#updateFormGender").val()
        let address = $("#updateFormAddress").val()
        let birth = $("#updateFormBirth").val()
        console.log(birth)
        let phone = $("#updateFormPhone").val()
        fetch('/users/updateProfile', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                name: name,
                gender: gender,
                address: address,
                birth: birth,
                phone: phone
            }),
        })
            .then(response => response.json()) // Assuming the server responds with JSON
            .then(data => {
                console.log(data)
                if (data.success) {
                    // Update the result container with a success message
                    $('#updateEmployeeClose').click(); let alert = `
                    <div id="failAlert" class="alert alert-success alert-dismissible fade show position-absolute top-50 start-50 translate-middle" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <p id="successMsg">${data.message}</p>
                    </div>
                    `
                    $("body").append(alert)
                    let alertX = $("#failAlert")
                    setTimeout(function () {
                        alertX.remove();
                    }, 1000);
                    setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                } else {
                    $("#updateEmployeeNameErr").text(data.nameErr)
                    $("#updateEmployeeGenderErr").text(data.genderErr)
                    $("#updateEmployeeAddressErr").text(data.addressErr)
                    $("#updateEmployeeBirthErr").text(data.birthErr)
                    $("#updateEmployeePhoneErr").text(data.phoneErr)
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    $("#uploadForm").on('submit', evt => {
        evt.preventDefault()
        const body = new FormData(evt.target)
        const container = document.getElementById('vacationPhotoContestFormContainer')
        fetch('/users/upload', { method: 'post', body })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    $('#updateEmployeeClose').click(); let alert = `
                    <div id="failAlert" class="alert alert-success alert-dismissible fade show position-absolute top-50 start-50 translate-middle" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <p id="successMsg">Cập nhật avatar thành công</p>
                    </div>
                    `
                    $("body").append(alert)
                    let alertX = $("#failAlert")
                    setTimeout(function () {
                        alertX.remove();
                    }, 1000);
                    setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                } else {
                    $('#updateEmployeeClose').click(); let alert = `
                    <div id="failAlert" class="alert alert-warning alert-dismissible fade show position-absolute top-50 start-50 translate-middle" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <p id="successMsg">${data.message}</p>
                    </div>
                    `
                    $("body").append(alert)
                    let alertX = $("#failAlert")
                    setTimeout(function () {
                        alertX.remove();
                    }, 1000);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    })
</script>