<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Management System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .search-bar {
      margin-bottom: 15px;
    }

    .search-bar .form-control,
    .search-bar .btn {
      height: calc(1.5em + .75rem + 2px);
    }

    .search-bar .input-group {
      margin-bottom: 0;
    }

    .table {
      margin-bottom: 0;
      font-size: 0.9rem;
    }

    .table thead th {
      background-color: #f2f2f2;
    }

    .table tbody tr:hover {
      background-color: #e9ecef;
    }

    #menu {
      background-color: #2E4053;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 0.5em 0;
    }

    #menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
    }

    #menu ul li {
      display: inline;
      margin-right: 20px;
    }

    #menu ul li a {
      color: #fff;
      text-decoration: none;
      padding: 10px 15px;
      transition: background-color 0.3s ease;
    }

    #menu ul li a:hover,
    #menu ul li a:active {
      background-color: #D5D8DC;
      border-radius: 5px;
    }

    #quanLyXeMenu {
      position: relative;
    }

    .menu-con {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: #2e4053;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      white-space: nowrap;
    }

    #quanLyXeMenu:hover .menu-con {
      display: block;
    }

    .menu-con a {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      color: black;
      text-align: left;
      background: transparent;
      width: 200px;
      border-radius: 0;
    }

    .menu-con a:hover {
      background-color: #ddd;
    }

    .route-input{
        margin-top: 0 !important;
    }

    .route-add-btn{
        background-color: transparent;
        color: black;
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 10px;
        float: right;
    }

    .route-add-btn:hover{
        background-color: black;
        color: whitesmoke;
        opacity: 0.8;
    }

    .modal-body input[type="text"]{
        width: 100% !important;
    }

    #tableBody{
      position: relative;
    }

    .table-td{
      position: absolute;
      z-index: 10;
      background-color: #2E4053;
      width: 100%;
      height: 100px;
      left: 0;
      top: 0;
    }
  </style>
</head>

<body>
  <div id="menu">

    {{> menu}}
  </div>
  <div class="container mt-4"> <!-- Added margin-top here -->
    <!-- Search Bar and Buttons -->

    {{#if_eq userRole 2}}
    {{else}}
      <button class="route-add-btn" data-bs-toggle="modal" data-bs-target="#newRoute">Thêm tuyến đường</button>
    {{/if_eq}}
    <div class="search-bar input-group mb-3">
      <input type="text" class="form-control route-input" placeholder="Từ khóa..." aria-label="Từ khóa">
      <div class="input-group-append">
        <select class="custom-select">
          <option selected>-- Lựa chọn --</option>
          <!-- Option values go here -->
        </select>
      </div>
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">Tìm kiếm</button>
        <button class="btn btn-secondary" type="button">Reset</button>
      </div>
    </div>

    <!-- Data Table -->
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Tên tuyến đường</th>
            <th>Địa điểm đi</th>
            <th>Địa điểm đến</th>
            <th>Ngày khởi hành</th>
            <th>Khoảng cách</th>
            <th>Phí chuyến đi</th>
            <th>Trạng Thái</th>
            <th>
                Thao tác
            </th>
          </tr>
        </thead>
        <tbody id="tableBody">
        {{#each routes}}
          <tr style="cursor:pointer" onclick='' class="route" data-id="{{this._id}}">
            <td>{{this.routeName}}</td>
            <td>{{this.start}}</td>
            <td>{{this.end}}</td>
            <td class="datetime">{{this.departureDayTime}}</td>
            <td>{{this.distance}}KM</td>
            <td>{{this.fare}}đ</td>
            <td>
              {{checkRouteStatus this.status}}
            </td>
            {{#if ../admin}}
              <td>
                  <button class="btn btn-outline-warning mb-1" onclick='changeEditForm("{{this._id}}", "{{this.routeName}}","{{this.start}}", "{{this.end}}", {{this.distance}}, {{this.fare}}, {{this.status}})' data-bs-toggle="modal" data-bs-target="#editRoute">Chỉnh sửa</button>
                  <a href="/routes/delete/{{this._id}}" class="btn btn-outline-danger">Xóa tuyến</a>
              </td>
            {{else}}
              <td id="{{this._id}}">
                  <button class="btn btn-outline-success mb-1" onclick='addSchedule("{{this._id}}","{{../userId}}")'>Đăng ký tuyến</button>
              </td>
            {{/if}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{> add-new-route}}
  {{> edit-route}}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/javascript/route.js"></script>
  <script>
    function getEmployee(id){
        return fetch('/user/getUser', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              id: id
            })
          })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                return (data.users);
              } else {
                // Handle unsuccessful response
                return null;
              }
            })
            .catch(error => {
              console.error('Error:', error);
              return null;
            });
    }

    function getBuses(userId) {
     return fetch('/bus/getBuses', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        if (data.success) {
          return data.buses;
        } else {
          console.log(data.message);
        }
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });
  }

    function addSchedule(routeId, userId){
      getBuses(userId).then(buses => {
        var busId = "";
        for(var i = 0; i < buses.length; i++){
          console.log(buses[i]);
          if(buses[i].employeeId === userId){
              busId = buses[i]._id;
              break;
          }
        }
        fetch("/schedules/add", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
              routeId: routeId,
              employeeId: userId,
              busId: busId  
          }),
        }).then(response => response.json()).
        then(data => {
          if(data.success){
            swal.fire({
              icon: "success",
              title: data.msg,
              showConfirmButton: false,
              heightAuto: false,
            })
          }else{
            console.log(data.msg);
          }
        })
      })
      /*fetch("/routes/add", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
              routeId: routeId,
              
        }),
      }).then(response => response.json()).
      then(data => {
        if(data.success){
          swal.fire({
            icon: "success",
            title: data.msg,
            showConfirmButton: false,
            heightAuto: false,
          })
        }else{
          console.log("Loi o dau roi daay");
        }
      })*/
    }
  </script>
</body>

</html>