<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Management System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .search-bar {
      margin-bottom: 15px;
    }

    .search-bar .form-control,
    .search-bar .btn {
      height: calc(1.5em + .75rem + 2px);
    }

    .search-bar .input-group {
      margin-bottom: 0;
    }

    .table {
      margin-bottom: 0;
      font-size: 0.9rem;
    }

    .table thead th {
      background-color: #f2f2f2;
    }

    .table tbody tr:hover {
      background-color: #e9ecef;
    }

    #menu {
      background-color: #2E4053;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 0.5em 0;
    }

    #menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
    }

    #menu ul li {
      display: inline;
      margin-right: 20px;
    }

    #menu ul li a {
      color: #fff;
      text-decoration: none;
      padding: 10px 15px;
      transition: background-color 0.3s ease;
    }

    #menu ul li a:hover,
    #menu ul li a:active {
      background-color: #D5D8DC;
      border-radius: 5px;
    }

    #quanLyXeMenu {
      position: relative;
    }

    .menu-con {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: #2e4053;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      white-space: nowrap;
    }

    #quanLyXeMenu:hover .menu-con {
      display: block;
    }

    .menu-con a {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      color: black;
      text-align: left;
      background: transparent;
      width: 200px;
      border-radius: 0;
    }

    .menu-con a:hover {
      background-color: #ddd;
    }

    .route-input{
        margin-top: 0 !important;
    }

    .route-add-btn{
        background-color: transparent;
        color: black;
        border-radius: 10px;
        padding: 5px 10px;
        margin-bottom: 10px;
        float: right;
    }

    .route-add-btn:hover{
        background-color: black;
        color: whitesmoke;
        opacity: 0.8;
    }

    .modal-body input[type="text"]{
        width: 100% !important;
    }

    #tableBody{
      position: relative;
    }

    .table-td{
      position: absolute;
      z-index: 10;
      background-color: #2E4053;
      width: 100%;
      height: 100px;
      left: 0;
      top: 0;
    }
  </style>
</head>

<body>
  <div id="menu">
      {{> menu}}
  </div>
  <div class="container mt-4"> <!-- Added margin-top here -->
    <!-- Search Bar and Buttons -->
    <button class="route-add-btn" data-bs-toggle="modal" data-bs-target="#newRoute">Thêm tuyến đường</button>
    <div class="search-bar input-group mb-3">
      <input type="text" class="form-control route-input" placeholder="Từ khóa..." aria-label="Từ khóa">
      <div class="input-group-append">
        <select class="custom-select">
          <option selected>-- Lựa chọn --</option>
          <!-- Option values go here -->
        </select>
      </div>
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">Tìm kiếm</button>
        <button class="btn btn-secondary" type="button">Reset</button>
      </div>
    </div>

    <!-- Data Table -->
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Tên tuyến đường</th>
            <th>Bảng số xe</th>
            <th>Tên nhân viên</th>
            <th>Ngày khởi hành</th>
            <th>Trạng Thái</th>
            <th>
                Thao tác
            </th>
          </tr>
        </thead>
        <tbody id="tableBody">
        {{#each routes}}
          <tr style="cursor:pointer" onclick='' class="route" data-id="{{this._id}}">
            <td>{{this.routeName}}</td>
            <td>{{this.start}}</td>
            <td>{{this.end}}</td>
            <td class="datetime">{{this.departureDayTime}}</td>
            <td>{{this.distance}}KM</td>
            <td>{{this.fare}}đ</td>
            <td>
              {{checkRouteStatus this.status}}
            </td>
            {{#if ../userRole}}
              <td>
                  <button class="btn btn-outline-success mb-1" onclick='changeEditForm("{{this._id}}", "{{this.routeName}}","{{this.start}}", "{{this.end}}", {{this.distance}}, {{this.fare}}, {{this.status}})' data-bs-toggle="modal" data-bs-target="#editRoute">Đăng ký tuyến</button>
              </td>
            {{else}}
              <td>
                  <button class="btn btn-outline-warning mb-1" onclick='changeEditForm("{{this._id}}", "{{this.routeName}}","{{this.start}}", "{{this.end}}", {{this.distance}}, {{this.fare}}, {{this.status}})' data-bs-toggle="modal" data-bs-target="#editRoute">Chỉnh sửa</button>
                  <a href="/routes/delete/{{this._id}}" class="btn btn-outline-danger">Xóa tuyến</a>
              </td>
            {{/if}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    var data;
    var table = document.getElementById("tableBody");

    function getRouteById(id){
        return fetch(`/routes/get/${id}`, {
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        }).then(data => {
            if(data.success){
              return data.route
            }else{
              console.log("Loi roi day");
            }
        })
        .catch(error => {
              console.error('Error:', error);
              return null;
            });
    }

    function getEmployee(id){
        return fetch('/user/getUser', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              id: id
            })
          })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                return (data.users);
              } else {
                // Handle unsuccessful response
                return null;
              }
            })
            .catch(error => {
              console.error('Error:', error);
              return null;
            });
    }

    function getBusById(id) {
      return fetch(`/bus/getBus/${id}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then(data => {
          if (data.success) {
            return data.bus;
          } else {
            console.log("Loi o dau roi do");
          }
        })
    }

    console.log({{admin}});
    console.log("{{userId}}");

    function getSchedules(){
      fetch('/schedules/getData',{
        method: "GET",
        headers:{
          'Content-Type': 'application/json',
        }
      }).then(response => response.json())
      .then(data => {
        if(data.success){
          data.schedules.forEach((s, i) => {
            var status = "";
            if(s.status === 1){
              status = "Đã khởi hành";
            }else if(s.status === 0){
              status = "Chưa khởi hành";
            }else{
              status = "Đã hủy lịch";
            }
            var id = "s-" + i;
            var string = `
              <tr id="${id}" style="cursor:pointer" onclick=''>
                <td class="route"></td>
                <td class="lisence"></td>
                <td class="name"></td>
                <td class="day"></td>
                <td>${status}</td>
                <td>
                  <button class="btn btn-outline-danger mb-1" onclick='deleteSchedule("${s._id}")'>Hủy lịch</button>
                </td>
              </tr>
            `;
            
            $("#tableBody").append(string);
            getEmployee(s.employeeId).then(u => {
              var string = "#s-" + i + " .name";
              $(string).html(u[0].name);
            })
            getBusById(s.busId).then((bus) => {
              var string = "#s-" + i + " .lisence";
              $(string).html(bus.licensePlate);
            })
            getRouteById(s.routeId).then(r => {
              var string1 = "#s-" + i + " .route";
              var string2 = "#s-" + i + " .day";
              $(string1).html(r.routeName);
              $(string2).html(r.departureDayTime);
              dateTime(string2);
            })
          })
        }else{
          console.log("Loi o dau do roi")
        }
      })
      .catch(error => {
              console.error('Error:', error);
              return null;
            });
    }

  getSchedules()

  function dateTime(id){
    var d = document.querySelector(id);
    console.log((d.innerHTML))
    var date = d.innerHTML.slice(0,10).split("-");
    console.log(date);
    var time = d.innerHTML.slice(11, 19)
    console.log(time);
    var dateafterchange = date[2] + "/" + date[1] + "/" +date[0];
    d.innerHTML = dateafterchange + " - " + time;
  }

  function deleteSchedule(id){
    fetch('/schedules/delete', {
      method: "POST",
      headers:{
          'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        _id: id
      }),
    }).then(response => response.json())
    .then(data => {
      if (data.success){
        swal.fire({
          icon: "success",
          title: data.msg,
          showConfirmButton: false,
          heightAuto: false,
        })
        setTimeout(() => {
          window.location.href = "/schedules";
        }, 1000);
      }else{
        swal.fire({
          icon: "success",
          title: data.msg,
          showConfirmButton: false,
          heightAuto: false,
        })
      }
    })
  }
  </script>
</body>



</html>